<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Progressive Demo</title>
    <link rel="stylesheet" href="{{ static_url('font-awesome-4.4.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('build/styles.prefixed.css') }}">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <img class="logo title" src="{{ static_url('logo_placeholder.png') }}">
        {% block vars %}
            {% set tab_index = 0 %}
        {% end %}
        <ul class="nav">
            {% for i, page in enumerate(['Posts', 'Images', 'Videos']) %}
                <li {% if i == tab_index %} class="selected" {% end %}>
                    <a href="{{ page.lower() }}">{{ page }}</a>
                </li>
            {% end %}
        </ul>
        <div class="menu-collapse">
            <i class="fa fa-bars fa-lg menu-button"></i>
            <ul class="nav-links">
                <li><a href="more">More</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div>
    </header>
    {% block content %}
    {% end %}
    <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    -->
</body>
</html>
