{% extends base.html %}

{% block content %}
    <main class="posts">
        {% for i, post in enumerate(posts) %}
            <article class="post {% if i in (0,3) %}featured{% end %}">
                {% block post %}
                    {{ post }}
                {% end %}
            </article>
        {% end %}
    </main>
    <script src="{{ static_url("imagesloaded.pkgd.min.js") }}"></script>
    <script src="{{ static_url("masonry.pkgd.min.js") }}"></script>
    <script>
        // init Masonry
        var msnry = new Masonry( '.posts', {
            itemSelector: '.post',
            columnWidth: '.post:not(.featured)',
            percentPosition: true,
            transitionDuration: 0
        });
        // layout Masonry after each image loads
        imagesLoaded('.posts').on('progress', function() { msnry.layout(); });
    </script>
{% end %}
